# Image processing
opencv-python
Pillow

# Data manipulation and Visualization
numpy
pandas
matplotlib

# Deep learning
torch
torchvision
monai
transformers
accelerate
#timm>=0.9.0  # SegFormer implementation

# Notebook
ipython
tqdm